:root {
	font-size: 18px;
	--GruvboxAqua: #87af87;
	--GruvboxYellow: #ffaf00;
	--LineNr: #767676;
	--String: #afaf00;
	--GruvboxRed: #d75f5f;
	--Comment: #8a8a8a;
	--GruvboxOrange: #ff8700;
	--GruvboxPurple: #d787af;
	--GruvboxBlue: #83a598;
}

table {
	border: 2px solid var(--Comment);
	width: 100%;
	margin-top: 2rem;
	border-collapse: collapse;
}

th, td {
	border: 2px solid var(--Comment);
	text-align: center;
	padding: 15px;
}

pre {
	white-space: pre-wrap;
	font-family: monospace;
	color: #ffd7af;
	background-color: #262626;
}

main {
	margin-left: 10rem;
	margin-right: 10rem;
}

div[class=code] {
	border: 2px solid var(--LineNr);
	border-radius: 5px;
	padding: 0.5rem
}

body {
	font-family: monospace;
	color: #ffd7af;
	background-color: #262626;
}

a {
	color: var(--GruvboxBlue);
}

.GruvboxAqua {
	color: var(--GruvboxAqua);
}

.GruvboxYellow {
	color: var(--GruvboxYellow);
}

.LineNr {
	color: var(--LineNr);
}

.String {
	color: var(--String);
}

.GruvboxRed {
	color: var(--GruvboxRed);
}

.Comment {
	color: var(--Comment);
}

.GruvboxOrange {
	color: var(--GruvboxOrange);
}

.GruvboxPurple {
	color: var(--GruvboxPurple);
}

.GruvboxBlue {
	color: var(--GruvboxBlue);
}








